<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>secrets</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/secrets/public/css/styles.css" />
  </head>
  <body></body>
</html>
